@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'monogram'; /*Can be any text*/
    src:
        local('monogram'),
        url('../fonts/monogram.ttf') format('truetype');
}
.link {
    @apply border-b border-solid hover:border-blue-500 hover:text-blue-500;
}
@layer base {
    html {
        font-family: 'monogram';
        font-size: large;
    }
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #95d95d;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #95d95d;
}}
