.title {
    background: -webkit-linear-gradient(90deg, #26ce00, #a80eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply text-center pb-2 md:pb-12 text-3xl md:text-5xl font-medium tracking-wide leading-relaxed;
}

.box {
    animation: blink 5s ease infinite;
    @apply border border-solid border-[#f4ff3f] rounded-lg p-4 md:p-12 flex justify-between items-center w-2/3 h-full;
}

@keyframes blink {
    0%,
    100% {
        box-shadow: -1px 1px 55px 12px rgba(82, 255, 168, 0.5);
        -webkit-box-shadow: -1px 1px 55px 12px rgba(82, 255, 168, 0.5);
        -moz-box-shadow: -1px 1px 55px 12px rgba(82, 255, 168, 0.5);
    }

    50% {
        box-shadow: 0 0 0 0 #1b2937;
        -webkit-box-shadow: 0 0 0 0 #1b2937;
        -moz-box-shadow: 0 0 0 0 #1b2937;
    }
}
